* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3366ff;
  padding: 16px 20px;
}

.header-container #title {
  color: #fff;
  font-size: 24px;
}

.header-container button {
  border: none;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.todo-list-container .todo-list {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.todo-list-container .todo-list .todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: #e6ecff;
}

.todo-list-container .todo-list .todo-item .todo-title {
  color: #3366ff;
  margin-bottom: 8px;
}

.todo-list-container .todo-list .todo-item .todo-content {
  margin-bottom: 4px;
}

.todo-list-container .todo-list .todo-item .finish-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #3366ff;
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper .modal {
  width: 30vw;
  height: 30vh;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.modal-wrapper .modal .modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-wrapper .modal .modal-title .modal-close-btn {
  border: none;
  font-size: 20px;
  color: #3366ff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.modal-wrapper .modal .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal .modal-content form {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-wrapper .modal .modal-content form input {
  height: 40px;
  padding: 8px;
  color: #1a1a1a;
  font-size: 18px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
}

.modal-wrapper .modal .modal-content form .todo-add-btn {
  width: 30%;
  padding: 8px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #3366ff;
  cursor: pointer;
}
